<div class="signup-container">
  <div class="signup">
    <h1 class="title">
      Ekalaamu
    </h1>
    <p class="holder-text">
      <a routerLink="/auth/signup">Or Create a new Account</a>
    </p>

    <form [formGroup]="loginForm" (ngSubmit)="login()" fxLayout="column">
      <mat-form-field floatLabel="never">
        <input
          type="email"
          matInput
          id="email"
          placeholder="Email"
          email="true"
          class="form-control"
          [formControl]="emailCtrl"
        />

        <div
          id="error"
          *ngIf="(emailCtrl.dirty || emailCtrl.touched) && emailCtrl.errors"
          class="alert alert-danger"
        >
          <mat-error *ngIf="emailCtrl.errors.required">
            *email is required.
          </mat-error>
          <mat-error *ngIf="emailCtrl.errors.pattern">
            *enter valid email address
          </mat-error>
        </div>
      </mat-form-field>
      <mat-form-field floatLabel="never">
        <input
          type="password"
          matInput
          id="password"
          placeholder="Password"
          class="form-control"
          [formControl]="passwordCtrl"
        />
        <div
          id="error"
          *ngIf="
            (passwordCtrl.dirty || passwordCtrl.touched) && passwordCtrl.errors
          "
          class="alert alert-danger"
        >
          <mat-error *ngIf="passwordCtrl.errors.required">
            *password is required.
          </mat-error>
          <mat-error *ngIf="passwordCtrl.errors.minlength">
            *password must contain 3 or more characters
          </mat-error>
        </div>
      </mat-form-field>
      <button [disabled]="loginForm.invalid" mat-flat-button>Login</button>
    </form>
    <p class="holder-text">or login with</p>
    <app-social-auth></app-social-auth>
    <div (mouseover)="hover=true" (mouseleave)="hover=false">
    <p  class="holder-text" [ngStyle]="{color: hover==true  ? 'black' : 'grey' }" (click)="forgotPasswordDialog()">
     forgot password?
     </p>
    </div>

    <div></div>
  </div>
</div>
