.password-container {
font-family: Noteworthy;
display: flex;
flex-direction: column;
align-items: center;
margin-top: -40px;

form {
    width: 65%;
    text-align: center;
    }

    .form-control {
        background-color: #f2f2f2;
        border-radius: 3px;
        padding-left: 17px;
        height: 47px;
      }
      .mat-error {
        font-size: 12px;
      }

      .mat-flat-button {
        margin-top: 10px;
        margin-left: 14px;
      }
}

::ng-deep .mat-dialog-container {
width: 500px;
height: 350px;
overflow-y: hidden !important;
}
.terminate {
  margin-left: 400px;
}
