
<button mat-icon-button mat-dialog-close class="terminate">
  <img src="../../../../assets/icons/cancel.svg" />
</button>
<div class="password-container">

    <h1 class="title">
      Ekalaamu
    </h1>
        <p class="holder-text">
      Enter registered email to reset password
    </p>

    <form [formGroup]="passwordResetForm" (ngSubmit)="sendResetLink()" fxLayout="column">
      <mat-form-field floatLabel="never">
        <input
          type="email"
          matInput
          id="email"
          placeholder="Email"
          email="true"
          class="form-control"
          [formControl]="emailCtrl"
        />

        <div
          id="error"
          *ngIf="(emailCtrl.dirty || emailCtrl.touched) && emailCtrl.errors"
          class="alert alert-danger"
        >
          <mat-error *ngIf="emailCtrl.errors.required">
            *email is required.
          </mat-error>
          <mat-error *ngIf="emailCtrl.errors.pattern">
            *enter valid email address
          </mat-error>
        </div>
      </mat-form-field>
      <button mat-flat-button [disabled]="passwordResetForm.invalid" >send reset link</button>
    </form>
  </div>



